<!DOCTYPE html>
<html>

<head>
    <title>GRE你太美</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/axios.min.js"></script>
    <meta name="theme-color" content="#6c757d">
</head>

<body class="bg-dark text-white">

<div class="container" id="main">
    <div style="position:absolute;right:20px;top:20px; z-index:9999;" id="process">
        {{index}}/{{lists.length}}
    </div>
    <br>

    <div class="row">
        <div class="col-md-3">&nbsp;</div>
        <div class="col-md-6">
            <div id="word">
                <h1 id="title" class="text-white">{{word}}</h1>&nbsp;
                <table class="table table-bordered">
                    <tbody>
                    <tr :key="item.word" v-for="(item, index) in option4">
                        <td @click="check(index)" v-html="item" class="text-white"></td>
                    </tr>

                    </tbody>
                </table>
            </div>

            <div id="errors" style="display: none;">
                <h3>完成了{{word_name}}的{{list_name}} 正确率 {{parseInt((1-errorList.length/total)*100)}}%</h3>

                <div v-for="(item, index) in errorList">
                    <div class="card">
                        <div class="card-header bg-secondary text-white">{{item[0]}}</div>
                        <div class="card-body text-dark">{{item[1]}}</div>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>

    <br>

</div>
<script>
    function random(max) {
        return Math.floor(Math.random() * max);
    }

    function getQueryVariable(variable) {
        var query = window.location.search.substring(1);
        var vars = query.split("&");
        for (var i = 0; i < vars.length; i++) {
            var pair = vars[i].split("=");
            if (pair[0] == variable) {
                return pair[1];
            }
        }
        return (false);
    }

    function in_array(stringToSearch, arrayToSearch) {
        for (s = 0; s < arrayToSearch.length; s++) {
            thisEntry = arrayToSearch[s].toString();
            if (thisEntry == stringToSearch) {
                return true;
            }
        }
        return false;
    }

    let baseUrl = ""
    var vm = new Vue({
        el: '#main',
        data: {
            list_name: "",
            word_name: "",
            total: 0,
            info: "",
            word: "",
            index: 0,
            lists: "",
            mean: "",
            options: [],
            option4: [],
            answer: 0,
            errorList: []
        },
        methods: {
            gotoIndex: function (index) {
                // $("#title").css("color", "black");
                vm._data.index = parseInt(index);
                // console.log(vm._data.lists[vm._data.index]);
                vm._data.info = "";
                if (index == vm._data.lists.length) {
                    // location.href = "../"
                    $("#word").hide();
                    $("#process").hide();
                    $("#errors").show();
                }

                vm._data.word = vm._data.lists[vm._data.index]["word"];
                vm._data.mean = vm._data.lists[vm._data.index]["mean"];
                vm._data.option4 = [];
                for (var i = 0; i < 5; i++) {
                    var option = vm._data.options[random(150)]["mean"];
                    while (in_array(option, vm._data.option4) || option == vm._data.mean) {
                        option = vm._data.options[random(150)]["mean"];
                    }
                    vm._data.option4.push(option);
                }
                vm._data.answer = random(5);
                vm._data.option4[vm._data.answer] = vm._data.mean;
            },


            next: function () {
                vm._data.index += 1;
                vm.gotoIndex(vm._data.index);
            },


            loadList: function () {
                let list = getQueryVariable("list");
                let word = getQueryVariable("word");
                vm._data.word_name = word;
                if (list == "rand") {
                    vm._data.list_name = "随机一组";
                    axios.get(baseUrl + '/word/' + word + '/rand', {})
                        .then(function (response) {
                            if (response.status == 200) {
                                vm._data.lists = JSON.parse(response.data);
                                vm._data.total = vm._data.lists.length;
                                vm.gotoIndex(0)
                            }
                        })
                        .catch(function (err) {
                            console.log(err);
                        });
                } else {
                    vm._data.list_name = "List" + list;
                    axios.get(baseUrl + '/word/' + word + '/list/' + list, {})
                        .then(function (response) {
                            if (response.status == 200) {
                                vm._data.lists = JSON.parse(response.data);
                                vm._data.total = vm._data.lists.length;
                                vm.gotoIndex(0)
                            }
                        })
                        .catch(function (err) {
                            console.log(err);
                        });
                }
            },

            loadOptions: function () {
                let word = getQueryVariable("word");
                axios.get(baseUrl + '/word/' + word + '/means_r/150', {})
                    .then(function (response) {
                        if (response.status == 200) {
                            vm._data.options = JSON.parse(response.data);
                            vm.loadList();
                        }
                    })
                    .catch(function (err) {
                        console.log(err);
                    });
            },

            check: function (index) {
                if (index == vm._data.answer) {
                    vm.next();
                } else {
                    vm._data.option4[index] = '<span style="color: #ff483f;">' + vm._data.option4[index] + "</span>";

                    vm._data.option4[vm._data.answer] = '<span style="color: #5bd639;font-weight:bold;">' + vm._data.option4[vm._data.answer] + "</span>";
                    if (vm._data.word != vm._data.lists[vm._data.lists.length - 1]["word"]) {
                        vm._data.lists.push({
                            "word": vm._data.word,
                            "mean": vm._data.mean,
                        })
                    }
                    if (vm._data.index < vm._data.total) {
                        if (vm._data.errorList.length == 0 || vm._data.word != vm._data.errorList[vm._data.errorList.length - 1][0]) {
                            vm._data.errorList.push([vm._data.word, vm._data.mean])
                        }
                    } else {
                        // 强行触发重新渲染v-html
                        vm._data.word = vm._data.word + " ";
                    }
                }
            }
        },
    });
    vm.loadOptions();

</script>


</body>

</html>